// ----------------------------------------------------
// ----- VARIABLES -----
// ----------------------------------------------------

// --- Font ---
$font-base: "Open Sans", sans-serif;

// --- Colors ---
$white: #fff;
$cararra: #edeeea;

$venice_blue: #0b468b;
$tree_poppy: #f7981e;
$sushi: #6eb73e;
$maroon_flush: #c91d66;
$pelorous: #3aa3ca;
$cod_gray: #181818;
$gray: #8c8c8c;
$armadillo: #48443c;
$mercury: #e9e9e9;
$iron: #d0d2d4;

// --- Media Queries ---
$mobile_land__640: "(nim-width: 640px)";
$tablet__768: "(min-width: 768px)";
$tablet_land__1024: "(nim-width: 1024px)";
$desktop__1280: "(min-width: 1280px)";
$large__screens__1440: "(min-width: 1440px)";

// ----- END OF VARIABLES -----
